.h1 {
    color: blue;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.gitgud {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: crosshair;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    width: fit-content;
}